body{
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
}

a{  
    text-decoration: none;
    color: #959595;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}

